[2017-05-12 10:27] edovio opened #1 "Weekly-Call Reps Program"
Ogni Settimana dalle 18 alle 18.30 il Giovedi

Every Week from 6pm to 6.30pm every Thursday

[2017-05-12 10:33] edovio opened #2 "Weekly-Call CAC - Campus Club Program"
Tutti i Lunedi dalle 17 alle 17.30

Every Monday from 5pm to 5.30pm

[2017-05-12 10:34] edovio opened #3 "Calls Wrangler Team MozFest"
Every two Week - Waiting Updates

[2017-05-12 10:37] edovio opened #4 "OpenLeadership Training Program Calls"
Ogni due settimane il Martedi dalle 23.00 a 0.00, oppure, il Mercoledì dalle 17.00 alle 18.00

Every two Weeks on Tuesday from 11pm to 12ppm, or,  Wednesday from 5pm to 6pm

[2017-05-12 10:42] edovio opened #5 "OpenLeadership Training Program: mentees Calls"
Ogni due settimane da definire ogni settimana l'appuntamento.
Attualmente l'appuntamento in linea di massima è
Il Giovedi con Chris dalle 18.30 alle 19.00 e il Venerdì con Sara dalle 17.30 alle 18.00

Every two weeks. Is necessary to ask confirm every week about the appointment.
In General, With Chris on Thursday from 6.30pm to 7.00pm and with Sara on Friday from 5.30pm to 6.00pm

[2017-05-12 10:48] edovio opened #6 "Mozilla Cagliari Club: Webateca 2.0 - Laboratori Alfabetizzazione"
Laboratori di Alfabetizzazione realizzati ogni due settimane.
A Partire dal 11 Marzo.
Suddiviso in due turni. Turno A dalle 16.15 alle 17.15 e Turno B dalle 17.30 alle 18.30

Webliteracy Laboratories every two weeks. Started from 11 March.
Every Laboratory is subdivided in two turns. Turn A from 4.15pm to 5.15pm and Turn B from 5.30pm to 6.30pm

[2017-05-12 10:51] edovio commented on #6
Laboratori Realizzati al momento:
11 Marzo 2017 (Slide: http://slide.edovio.com/mozilla/ )
18 Marzo 2017 (Slide: http://slide.edovio.com/webateca/primolaboratorio/)
22 Aprile 2017 (Slide: http://slide.edovio.com/webateca/alfabetizzazione/primo/)

Laboratories made:
11 March 2017 (Slide: http://slide.edovio.com/mozilla/ )
18 March 2017 (Slide: http://slide.edovio.com/webateca/primolaboratorio/)
22

[2017-05-12 10:52] edovio commented on #6
Domani 13 Maggio il prossimo Laboratorio. (Slide: http://slide.edovio.com/webateca/alfabetizzazione/secondo/)

Tomorrow, 13 May the next Laboratory (Slide: http://slide.edovio.com/webateca/alfabetizzazione/secondo/)

[2017-05-12 10:55] edovio opened #7 "Mozilla Cagliari Club: Webateca 2.0 - Laboratori Programmazione"
Laboratorio di Programmazione della Webateca 2.0. Ogni due settimane dalle 16.30 alle 18.30

Coding Laboratories of Webateca 2.0. Every two weeks from 4.30pm to 6.30pm

[2017-05-12 11:01] edovio commented on #7
Laboratori fatti sino ad oggi:
11 Marzo 2017 (Slide: http://edovio.slide.com/mozilla/)
08 Aprile 2017 (Slide: http://edovio.slide.com/webateca/primocoding/)
29 Aprile 2017 (Argomenti Trattati GitHub e HTML)

Calls Fatte sino ad oggi:
01 Aprile 2017
03 Maggio 2017
Etherpad Calls: https://public.etherpad-mozilla.org/p/webateca2017

[2017-05-12 11:02] edovio opened #8 "Mozilla Cagliari Club Comms"
Issue Tracker per le Comunicazioni del Mozilla Cagliari Club

[2017-05-12 11:03] edovio commented on #8
Email: mozillacagliariclub@gmail.com
Facebook Page: https://facebook.com/MozillaCagliariClub
Twitter account: https://twitter.com/MozillaCagliari

[2017-05-12 12:04] edovio opened #9 "Migrazione account Instagram FSAItaly"
Migrazione dell'account Instagram di FSAItaly

Migration of FSAItaly Account

[2017-05-12 12:05] edovio opened #10 "chisura account Twitter FSAItaly"
Chiusura account Twitter FSAItaly o Migrazione

[2017-05-12 12:05] edovio commented on #10
Close the Twitter Account of FSAItaly

[2017-05-12 12:06] edovio opened #11 "Sospensione pagina FSAItaly Facebook"
Suspend the Facebook page of FSAItaly

[2017-05-12 12:07] edovio commented on #11
Sospesa in data 12 Maggio 2017.
La pagina è ancora esistente ma non visibile

Suspended on 12 May 2017. The page exist but isn't visible

[2017-05-12 12:07] #11 closed, assigned to edovio

[2017-05-12 12:13] edovio commented on #9
L'account è stato migrato da http://instagram.com/fsaitaly a  http://instagram.com/mozillacagliari

[2017-05-12 12:13] #9 closed, assigned to edovio

[2017-05-12 12:14] edovio commented on #10
Account da sospendere: https://twitter.com/fsa_italy

Account to suspend: https://twitter.com/fsa_italy

[2017-05-12 12:19] edovio commented on #10
Account disattivato in data 12 Maggio 2017. Può essere recuperato sino al 12 Giugno 2017

Account deactivated on 12 May 2017. The account could be reactivated until 12 June 2017

[2017-05-12 12:19] #10 closed, assigned to edovio

[2017-05-12 12:20] edovio opened #12 "Gmail FSAItaly"
Define a strategy for the fsaitaly@gmail.com account.
Definire una strategia per l'account Email fsaitaly@gmail.com

[2017-05-12 12:22] edovio commented on #8
Aggiunto account Instagram https://instagram.com/mozillacagliari (come indicato nel #9 )

Added Instagram account https://instagram.com/mozillacagliari (related at #9 )

[2017-05-15 14:30] edovio commented on #6
Registrato in data odierna il Report per il Laboratorio del 13 Maggio.
Today made the report for the 13 May Laboratory

[2017-05-15 14:32] edovio commented on #8
Dati ad Alessandra dati profilo Instagram.
Inseriti Post su Instagram, Twitter e Facebook relativi al laboratorio del 13 Maggio.

User and Password of Instagram given at Alessandra
Inserted posts on Instagram, Twitter and Facebook about the 13 May laboratory.

[2017-05-15 14:34] edovio opened #13 "MozFest SpaceWrangler"
Attività relativa allo space sulla WebLiteracy al mozFest

Activities for the WebLiteracy Space at mozFest 2017

[2017-05-15 14:36] edovio opened #14 "English Community"
issue per i compiti da Reps Regional Coach per la community Inglese
Issue about the English Community for the Reps Regional Coach Program

[2017-05-15 14:36] edovio opened #15 "Italian Community"
Issue relativo ai compiti da Reps Regional Coach per la community Italiana

Issue about the Italian Community for the Reps Regional Coach Program

[2017-05-15 14:36] edovio opened #16 "French Community"
Issue relativo ai compiti da Reps Regional Coach per la commmunity Francese

Issue about the France Community for the Reps Regional Coach Program

[2017-05-15 14:39] edovio commented on #16
La community Francese è disponibile a seguire le prossime attività come Reps Regional Coach
The France Community is interested to be followed by me with the activities of the  Reps Regional Coach program

[2017-05-15 14:39] edovio commented on #15
La community Italiana è disponibile a seguire le prossime attività come Reps Regional Coach
The Italian Community is interested to be followed by me with the activities of the  Reps Regional Coach program

[2017-05-15 14:42] edovio commented on #14
Devo esplorare l'interesse della community Inglese circa il programma Reps Regional Coach. Attendo post su discourse sugli aggiornamenti del programma prima di proporre l'attività.
I must explore the interest of the English Community about the Reps Regional Coach program. I waiting the discourse post about the updates of the program first to propose the activities.

[2017-05-15 14:46] edovio opened #17 "Call with the Mozilla Campus Club Milan"
Chiamata introduttiva con il Mozilla Campus Club Milano del programma.

First call with the Mozilla Campus Club Milan as Regional Coordinator.

[2017-05-15 16:08] edovio opened #18 "Creare un RC office Hour"
Informazioni maggiori sull'issue sono trovabili a questo indirizzo: https://github.com/mozilla/Campus-Program/issues/412

More information about the issue are find-able here: https://github.com/mozilla/Campus-Program/issues/412

[2017-05-15 16:08] edovio opened #19 "Creare una CAC roadmap"
Maggiori informazioni sull'issue sono recuperabili qui: https://github.com/mozilla/Campus-Program/issues/415

Further information are find-able here:
https://github.com/mozilla/Campus-Program/issues/415

[2017-05-15 16:11] edovio commented on #16
Next Steps:
* [ ] Define a communication way
* [ ] Collect feedback about new role
* [ ] Report at the program feedback

[2017-05-15 16:13] edovio commented on #15
Next Steps:
* [ ] Define a communication way
* [ ] Collect feedback about new role
* [ ] Report at the program feedback

[2017-05-15 16:15] edovio opened #20 "WebVR Summer Fest"
Evento Estivo in Spiaggia sulla WebVR

Summer Event on the beach for the WebVR

[2017-05-15 16:22] edovio commented on #20
* [ ]   Luogo sulla spiaggia dove ospitare l'evento
* [ ]  Data dell'evento
* [ ]  Determinare il format
* [ ]  Creare Codice di Condotta
* [ ]  Speaker da invitare
* [ ]  Creare Grafiche
* [ ]  Creare comunicati Stampa
* [ ]  Contattare le testate giornalistiche online e/o offline
* [ ]  Valutare se creare Ticket o no
* [ ]  Produrre e/o richiedere le presentazioni
* [x] Traduzione dell'etherpad

[2017-05-15 16:25] edovio commented on #20
Richiesta al [Sax Beach](https://www.google.it/maps/uv?hl=en&pb=!1s0x12e0cb4b591a9313:0x67f6e22590776897!2m19!2m2!1i80!2i80!3m1!2i20!16m13!1b1!2m2!1m1!1e1!2m2!1m1!1e3!2m2!1m1!1e5!2m2!1m1!1e4!3m1!7e115!4shttps://picasaweb.google.com/lh/sredir?uname%3D112002764369919627221%26id%3D6412952254734130178%26target%3DPHOTO!5ssax+beach+quartu+-+Google+Search&imagekey=!1e3!2s-HAmql7MqFwc/WP9iGTD33AI/AAAAAAAA

[2017-05-16 14:35] edovio commented on #18
Creato un documento con le domande possibili importanti per l'office hour: https://drive.google.com/open?id=1JbtvwhDkmRbTS5JyiLP1l3RO4Z2RtRleg0XQwPbUSR0

Creata prima bozza dell'Agenda all'indirizzo: https://public.etherpad-mozilla.org/p/RCMayOfficeHour

Created a document with some important question at the link: https://drive.google.com/open?id=1JbtvwhDkmRbTS5JyiLP1l3RO4Z2RtRleg0XQwPbUSR0
Create

[2017-05-16 23:15] Mte90 opened #21 "Weekly Call - Reps Mobilizer"
Ogni settimana da pianificare a seconda delle disponibilità di Ruben.

[2017-05-16 23:16] Mte90 opened #22 "Report - DUCC"
Finire blog report del ducc 2017

[2017-05-16 23:21] Mte90 opened #23 "Report - Oscal 2017"
Fare il report e compilare il form dei ts

[2017-05-16 23:23] Mte90 opened #24 "Review - Mozilla Italia l10n da parte dei TS"
Al momento solo io ho cominciato a farlo ma devo finire la lettura.
@gabrycaos @eugeniopetulla @ruphy in attesa della loro revisione.

Risorsa: https://github.com/kitsunenosaraT/Mozilla-Italia-l10n-guide

[2017-05-16 23:25] Mte90 opened #25 "Wp Promote MDN 2.0"
Sviluppare la nuova versione con il boilerplate: https://github.com/mdn/wp-promote-mdn

Develop the new version with the boilerplate

[2017-05-16 23:27] Mte90 opened #26 "Reps Mobilizer - 2 cicle plan"
Work on the second cicle of the plan (end 3 June):

- https://public.etherpad-mozilla.org/p/reps-mob-daniele-2017
- https://docs.google.com/document/d/18cIThexNqp5y1F145hB-3vRRtr65wYWPNg4W9EKE6p4/edit#

For ref: https://github.com/mozilla/Reps/issues/162

[2017-05-16 23:27] Mte90 opened #27 "Reps Mobilizer - 1 cicle plan"

[2017-05-16 23:28] #27 closed, assigned to Mte90

[2017-05-16 23:29] Mte90 opened #28 "TS Winter Session - Extra lab"
Waiting about a new lab with few ts in mentoring for a new chance to join the program.

[2017-05-16 23:30] Mte90 opened #29 "FOSDEM Italiano - Proposal for 2018"
Discussion with other communities and study of a proposal alternative to ConfSL for an open source communities event for italians.
https://etherpad.net/p/proposta-os-conf-ita

[2017-05-16 23:32] Mte90 opened #30 "Report - HackAccessibilityDays"
Wait for Giovanni report after the event and close the metrics waiting on the reps portal.
Also for the reimburse for him.

[2017-05-16 23:33] Mte90 opened #31 "Sito - Mozilla Italia Draft"
Waiting for a final draft of the website UI: https://github.com/EugenioPetulla/mozillaitalia.github.io

@eugeniopetulla @gabrycaos

[2017-05-16 23:34] Mte90 opened #32 "PassoPasso Functional team"
Study of a plan and organize an initial meeting to define what to do with that project.

[2017-05-16 23:35] Mte90 opened #33 "Vademecum - Regole di stile"
https://github.com/MozillaItalia/firefox-vademecum/issues/45

[2017-05-16 23:37] Mte90 opened #34 "Mozilla Club Rieti - Ricerca della sala"
With @gabrycaos we have a meeting the next week with a coworking/public place of the regional governement.
In case of a failure meetings we need to find a neutral place.

[2017-05-16 23:38] Mte90 opened #35 "Mozilla Club Rieti - Primo incontro"
We have the idea of an introduction event to talk about:

- What is Mozilla and Clubs
- Fake news in Italy

[2017-05-16 23:42] Mte90 opened #36 "Creare una guida su come si fanno i report"
L'idea è di fare un piccolo etherpad come per la guida sui social per spiegare come si fa un report sul blog di un evento in modo da semplificare per le richieste dei rimborsi del programma reps ed aiutare i volontari a fare report degli incontri sul proprio blog.

[2017-05-16 23:44] Mte90 opened #37 "Mozilla Developer Roadshow in Rome for Rust - Planning"
ALready started a chat with mozilla devrel but I need to investigate further about the real requirements for a developer roadshow and see with the Rust Rome meetup.

[2017-05-16 23:45] Mte90 opened #38 "Mozilla Italy on Facebook"
Ping Renato and close this situation definitelly because create problems with the Italian brand of Mozilla on Facebook.

[2017-05-16 23:47] Mte90 opened #39 "Event - SHA2017 planning"
Start to define what my talks are accepted, organize the travel and ask for the reimburse for that event.

[2017-05-16 23:49] Mte90 opened #40 "Event - LibreOffice HackFest Perugia"
Organize and go to the event to meet the LibreItalia people and discuss what we can do together and see how works an hackfest the 28th may.

[2017-05-16 23:51] Mte90 opened #41 "RomaJS - Talk di Gabriele"
Plan for @gabrycaos the chance to do a talk about Webassembly at RomaJS for June.

[2017-05-16 23:53] Mte90 opened #42 "My candidation for Reps Council"
- [x] Create the text for the video
- [x] Create postcard
- [x] Create the video
- [x] Reply to 5 questions

https://discourse.mozilla-community.org/t/important-council-elections-spring-2017-please-read/15569

[2017-05-16 23:56] Mte90 opened #43 "Mozilla Italia l10n Guide Articolo"
- [x] Rispondere alla email https://public.etherpad-mozilla.org/p/mozita-articolo-guida-l10n
- [x] Revisionare testo articolo
- [x] Immagini per l'articolo
- [x] Revisionare articolo dalla comunità
- [x] Pubblicare articolo

[2017-05-17 00:00] Mte90 opened #44 "Firefox Nightly - Weekly post to FB and Twitter"
Don't forget to publish weekly post about the updates of firefox nightly

[2017-05-17 00:02] Mte90 opened #45 "ChangeCopyright - 2 wave"
- [ ] Ask for what is the promotion plan
- [ ] Evaluate for organize new events in the country
- [ ] We need new slides?
- [ ] Get in touch with Wikimedia Italia about it

[2017-05-17 08:04] kitsunenosaraT commented on #43
@Mte90 grazie per l'aiuto 😀
Per quanto riguarda i numerosi link che ho messo, possiamo ancorarli invece di lasciarli "nudi" nel testo? es. `<a href="URL">nome pagina</a>`

Inoltre io ho visto che l'intervista veniva lunghetta, quindi non ho risposto alle domande più generiche. Ma se pensi che sia utile, basta che me lo dici e faccio anche quelle.

[2017-05-17 10:35] #22 closed, assigned to Mte90

[2017-05-17 13:19] edovio commented on #17
Richiesta disponibilità ai ragazzi del Mozilla Campus Club di Milano per una call. In attesa di risposta.

Requested an availability to make a call with the Club Captain and Executives for a introductive call. I waiting a reply.

[2017-05-17 13:21] Mte90 opened #46 "TechSpeakers Monthly Call"
Eveyr month there is a new schedule and a new appointment

[2017-05-17 17:57] edovio commented on #17
Call programmata per il 18 Maggio 2017 dalle ore 16.30 alle 17.00 (max 17.30)

Call planned for 18 May 2017 from 4.30pm to 5.00pm (max 5.30pm)

Link Etherpad: https://public.etherpad-mozilla.org/p/mcc-milano

[2017-05-17 18:10] edovio opened #47 "OpenStudentBook al mozSprint"
Presentare il progetto  [OpenStudentBook](https://github.com/edovio/Open_Student_Book) al MozSprint

Present the [OpenStudentBook](https://github.com/edovio/Open_Student_Book) Project at MozSprint

[2017-05-17 18:11] edovio commented on #47
Issue relativo: https://github.com/mozilla/global-sprint/issues/96

Related Issue: https://github.com/mozilla/global-sprint/issues/96

[2017-05-17 18:13] edovio commented on #47
Terminare di completare l'issue sul Global Sprint Repo

Complete the Global Sprint Repo Issue

[2017-05-18 16:18] EugenioPetulla commented on #31
I'm always ready but we are stuck just because we really don't know what to include in the Website and what not.

Other point is: mozilla.ninja is still at the same initial point, no official fonts and illustrations were released so we have to stay with Arvo instead of using the official Zilla.

Now we have to choose, if you want I can easily speed up the process but I need a well thinked wirefram

[2017-05-18 16:22] edovio commented on #17
Introductory Call done!

[2017-05-18 16:22] #17 closed, assigned to edovio

[2017-05-18 16:28] edovio commented on #47
In attesa di revisione

Waiting for a Review

[2017-05-18 16:32] edovio commented on #31
If all of you prefer we can create a specific project in this repo for the WebSite! :) I see some people involved and is not an activity that concern only Daniele :)

[2017-05-18 17:05] edovio commented on #19
Creata prima bozza della roadmap
Created a first draft of roadmap

[2017-05-18 17:16] EugenioPetulla commented on #24
I want propose to integrate footnotes instead of using the ^ char, it's just a little bit of markup (html) but it can help a lot of people in referencing the text in a properly manner.

Eg. of actual notation marks:

This is a text with a note^

^ This is the associated footnote

PoC of what I suggest:

This is a text with a note <sup>[[1]](#footnote1)</sup>

<a name="footnote1">[1]</a>: This is t

[2017-05-18 17:25] Mte90 commented on #31
Of course we can start to think again on https://public.etherpad-mozilla.org/p/mozita-sito-2017 about we want to include.
I created the ticket for remember everyone involved :-)

[2017-05-18 17:26] Mte90 commented on #24
I will report to @kitsunenosaraT and @gialloporpora that are leading the project.
I have looking to dedicate times to read all the guide and leave my feedback :-)

[2017-05-18 17:31] EugenioPetulla commented on #31
@edovio yes, you can also fork my repo here in a gh-pages branch so everyone can see live updates

https://github.com/EugenioPetulla/mozillaitalia.github.io

[2017-05-18 17:35] EugenioPetulla commented on #24
I'm also reading this but really I'm not an expert about localization and translation, you know, so I can contribute only improving the readability and the overall User eXperience of the project. :)

[2017-05-18 17:37] Mte90 commented on #24
Yes of course you know that I speak ```prosciutti``` but a view for devs is asked about also the terms in a way that we use the same in our talks.

[2017-05-19 08:17] kitsunenosaraT commented on #24
@EugenioPetulla thank you for your feedback!
You are welcome to write it directly in the [relevant chapter's issue](https://github.com/kitsunenosaraT/Mozilla-Italia-l10n-guide/projects/1).

As @Mte90 said, we are interested in your external point of view as a *developer*.

E.g. When reading translated documentation, is there something that troubles you? For example, terms that has been translated

[2017-05-19 09:35] edovio commented on #31
Great @EugenioPetulla. So in the next days I create a new Project in this Repo to try to involve more volunteer possible for create a more inclusive way for the new WebSite!!! Great Job and Thank friend! :)

[2017-05-19 09:36] edovio opened #48 "Create a Project in this Repo for the new Website"
Create a new Project in this repo to track and follow the status of the creation of a new possible website for Mozilla Italia

[2017-05-19 09:38] edovio commented on #48
Creare un nuovo progetto in questo repository per tenere traccia e seguire lo stato e gli sviluppi di un nuovo possibile website per Mozilla Italia

[2017-05-19 11:41] EugenioPetulla commented on #48
Il repo ufficiale poi ci sarebbe anche ma andrebbe unito e allineato al mio: https://github.com/MozillaItalia/mozillaitalia.github.io

[2017-05-19 14:03] edovio commented on #48
Si ho visto il tuo repo, la mia idea era di creare un tracker specifico per il progetto sito in cui discutere su contenuti ed in genere come elemento aggregante della community (Developer, Localizzatori, Participation in genere ecc ecc), questo in modo tale da non sporcare quello implementativo dove magari si discute più sulle scelte tecniche di sviluppo :)

[2017-05-19 15:54] Mte90 commented on #48
Direi di fare una nuova label specifica e poi ognuno sulla kanban personale si segna le cose da fare, cosi evitiamo confusione e specifichiamo che sul repo del progetto c'è la parte tech mentre qui il brainstorming e testo.

[2017-05-19 15:58] edovio commented on #48
Inizialmente pensavo anche io questo però poi ho riflettuto meglio e credo che invece possa essere utile perchè, questa attivitàm non è solo mia e tua o di Eugenio e Gabriele ma se si fa un sito deve essere rappresentativo di tutta la comunità e dunque penso sia importante che ci sia un progetto specifico per questo dove chiunque possa dare un suo punto di vista.

[2017-05-19 16:01] Mte90 commented on #48
Uhm forse potremmo spostare il repo di eugenio dentro l'organizzazione mozilla italia sul repo mozillaitalia.github.io ufficiale, cosi facciamo la roba tecnica e poi facciamo la kanban dove siamo tutti.
Volevo evitare di mettere ticket su più kanban che ci confondiamo :-/

[2017-05-19 16:02] edovio commented on #48
infatti quelle del sito andrebbe a finire li e non nel mio e nel tuo xD

[2017-05-19 16:02] edovio commented on #48
tanto poi sappiamo che stiamo lavorando ad un sito xD

[2017-05-19 16:41] Mte90 commented on #26
Define new opportunities and I think that I have to discuss with TS and @edovio what is the best option to aggregate or let devs extension world in italy and other devs to meet online.

[2017-05-19 17:41] Mte90 commented on #24
I done my check on the guide and I think that is great but is missing the part of a glossary (I think that now is easy to udnerstand that I care ti so much).
Few resources can be helpful to add more stuff in the guide:

- https://it.wordpress.org/traduzioni/#reg_gram
- https://translatewiki.net/wiki/FAQ

[2017-05-19 17:42] Mte90 commented on #29
We started to chat with FSFE people and finded 3 Italian universities that has good connection in the country

[2017-05-19 17:43] Mte90 commented on #43
Prima revisione fatta, vediamo di rispondere alle prime domande del documento e poi di proseguire con gli altri punti

[2017-05-19 17:56] EugenioPetulla commented on #48
Ditemi cosa fare e lo faccio, anche una Pull Request volendo, basta che @Mte90 apre il ramo gh-pages poi io faccio pull direttamente su quello e teniamo tutto sotto al cappello Mozilla, poi saro' io a occuparmi di forkare il repo e di fare pull dopo le modifiche, no problem. :)

[2017-05-19 21:35] kitsunenosaraT commented on #43
Quando vuoi ho risposto anche alle prime domande, tranne una per cui sto ancora cercando un esempio illuminante…

[2017-05-20 11:28] edovio commented on #47
Changed the Roadmap and created new Issues related at all tasks. Create a GitHub Page and a new Logo

[2017-05-20 13:29] kitsunenosaraT commented on #43
Ciao, ho appena risposto all'ultima domanda in sospeso.
Che il QA abbia inizio! :D

[2017-05-20 14:00] Mte90 commented on #44
scheduled for monday

[2017-05-23 15:20] edovio commented on #47
Project linked on mozilla Pulse: https://www.mozillapulse.org/entry/295

Progetto linkato su Mozilla Pulse: https://www.mozillapulse.org/entry/295

[2017-05-23 15:21] edovio commented on #47
Task per Global Sprint:

* [ ] Definire modello di presentazione
* [ ] Definire Sessione

[2017-05-23 15:22] edovio commented on #19
Scegliere i Task per l'estate da realizzare

Chose the task to do for the summer

[2017-05-23 15:23] edovio commented on #18
Finalizzare i documenti entro questa settimana!

[2017-05-23 15:24] edovio commented on #7
20 Maggio 2017 (Laboratorio interamente su HTML e sui Commit)
Pianificato prossimo laboratorio per
Mercoledi 25 Maggio 2017 (Descrivere gli ultime parti dell'HTML)

[2017-05-23 15:29] edovio opened #49 "Community Advisory Group Activities"
Personal Issue Tracker delle Attività del Community Advisory Group

Personal Issue Tracker for the Activities of Community Advisory Group

[2017-05-23 16:19] edovio commented on #18
Fatta la bozza completa

[2017-05-24 08:38] Mte90 commented on #44
Planned 3 post on social for the next 2 days

[2017-05-24 08:38] Mte90 commented on #26
weekly call with addon team yesterday done it!

[2017-05-24 08:38] #42 closed, assigned to Mte90

[2017-05-24 08:39] Mte90 commented on #34
We done a propositive meeting and shared our plan with them.

[2017-05-24 08:39] #34 closed, assigned to Mte90

[2017-05-24 08:41] Mte90 opened #50 "OpenStudentBook Articolo"
- [x] Preparare etherpad https://public.etherpad-mozilla.org/p/mozita-articolo-osb
- [x] Revisionare testo articolo
- [x] Revisionare articolo dalla comunità
- [ ] Immagini per l'articolo
- [ ] Pubblicare articolo

[2017-05-24 08:42] Mte90 commented on #43
Rimane da condividire l'articolo sul forum per qa e pubblicazione

[2017-05-24 08:54] Mte90 commented on #12
Maybe we can forward all the email to mozitalian one

[2017-05-24 09:17] edovio commented on #49
Do the first Tasks:
* [x] Accept the Invitation in the Group on Mozillians
* [x] Access at Discourse in the new Private section
* [x] Write a little Introduction

Fare i primi Task:
* [x] Accettare l'invito nel gruppo su Mozillians
* [x] Eseguire l'accesso a Discourse nella nuova sezione privata
* [x] Scrivere una piccola presentazione

[2017-05-24 09:54] kitsunenosaraT commented on #43
Articolo condiviso sul [forum](https://forum.mozillaitalia.org/index.php?topic=56824.new#new)

[2017-05-24 14:41] #23 closed, assigned to Mte90

[2017-05-24 15:04] Mte90 commented on #39
request for sponsorship to mozilla

[2017-05-25 07:15] edovio commented on #7
Eseguito Laboratorio il Mercoledì 25 Maggio:
ToDo
* [x] Report
* [x] Post su Twitter
* [x] Post su Facebook
* [x] Post su Instagram

[2017-05-25 07:15] edovio commented on #47
Partecipato Ieri alla Demo Call

[2017-05-25 07:16] edovio commented on #4
Partecipato ieri alla demo call del mozSprint

[2017-05-25 07:19] edovio opened #51 "Rispondere a questionario su Discourse MLN"
Rispondere a questionario (https://docs.google.com/forms/d/e/1FAIpQLSdkDOaVkthEIdGXnug0F3hmNV1XVd6UXFK0YliA_6HsT18AKw/viewform?c=0&w=1) di Shreyas per progetto per il Global Sprint

reply at the form (https://docs.google.com/forms/d/e/1FAIpQLSdkDOaVkthEIdGXnug0F3hmNV1XVd6UXFK0YliA_6HsT18AKw/viewform?c=0&w=1) of Shreyas for a Global Sprint Project

[2017-05-25 08:34] #51 closed, assigned to edovio

[2017-05-25 08:51] edovio commented on #19
Replied at the document!

Risposto nel documento

[2017-05-25 08:51] #19 closed, assigned to edovio

[2017-05-25 15:12] Mte90 commented on #35
me and @gabrycaos are waiting news from the place that we found

[2017-05-25 21:42] kitsunenosaraT commented on #43
Articolo revisionato, già formattato per Wordpress [qui](https://github.com/flodolo/Mozilla-Italia-l10n-guide/blob/0805ef68f8351198665343e2a234f3f2d0761d4d/resources/intervista.md)
@Mte90 , ci dai l'ok?

[2017-05-25 21:47] Mte90 commented on #43
Cosi mi fate sentire importante ma mi sembra ottima ora :-D
Per me si può pubblicare ma le domande vanno messe in grassetto in modo da evidenziare le varie sezioni.

[2017-05-26 15:39] edovio opened #52 "Graphic Design for Mozilla Cagliari Club"
Create new Graphics for the Logo and Twitter & Facebook cover

[2017-05-26 15:40] edovio commented on #52
* [x] Create new Logo
* [x] Create new FB Cover
* [x] Create new Twitter Cover

[2017-05-26 18:48] edovio commented on #52
Design finished. All the content are in the official Mozilla Club Repo: [LINK](https://github.com/mozilla/mozillaclubs/tree/master/designresources/Cagliariclub)

[2017-05-26 18:48] #52 closed, assigned to edovio

[2017-05-29 08:19] edovio commented on #6
Laboratorio fatto il 27 Maggio.
* [x] Post Facebook
* [x] Post Twitter
* [x] Post Instagram
* [x] Report

[2017-05-29 08:41] edovio commented on #6
Reinviato Report per il 13 Maggio

[2017-05-29 08:45] edovio commented on #7
Prossimo Laboratorio Sabato 3 Giugno 2017

[2017-05-30 08:22] kitsunenosaraT commented on #43
🎉 [Articolo pubblicato!](https://blog.mozilla.org/press-it/2017/05/30/la-guida-di-localizzazione-di-mozilla-italia-al-mozilla-global-sprint/)
Mi sono presa la libertà di inserire una breve introduzione al Global Sprint citando i progetti di @edovio e @ruphy (noi open leader italiani dobbiamo restare uniti 😉 )

[2017-05-30 10:34] Mte90 commented on #43
Uh me lo aspettavo sul sito di Mozilla Italia nel blog ma va bene lo stesso :-)

[2017-05-30 10:34] #43 closed, assigned to Mte90

[2017-05-30 10:35] #30 closed, assigned to Mte90

[2017-05-30 10:35] #40 closed, assigned to Mte90

[2017-05-30 12:17] kitsunenosaraT commented on #43
Errore mio 😞
Adesso è sul blog giusto:
https://www.mozillaitalia.org/home/2017/05/30/la-guida-di-localizzazione-di-mozilla-italia-al-mozilla-global-sprint/

[2017-05-30 12:18] Mte90 commented on #43
Per punizione dovrai scrivere 100 volte sulla lavagna le regole più importanti per la traduzione!!!

[2017-05-31 14:15] edovio commented on #13
Mozilla Repo Link: https://github.com/mozilla/mozfest-web-literacy

[2017-05-31 14:17] edovio commented on #6
I Laboratori di Alfabetizzazione verranno interrotti per tutto il mese di Giugno.
Inviata in data odierna Email alla Mediateca del Mediterraneo

The WebLiteracy Laboratories about how read and participate on the web will be interrupt for all the June Month.
Sent today an Email at Mediateca of Mediterraneo about that!

[2017-05-31 14:21] Mte90 commented on #35
we contacted that space but they said that will keep us updated in the next days. i think for the next week actually...

[2017-05-31 14:22] Mte90 commented on #50
ping for @edovio

[2017-05-31 14:23] edovio commented on #3
Next Calls:
8 June 2017
22 June 2017

[2017-05-31 14:26] edovio commented on #50
Is not a priority make an article about this project now.
Publish two article in few days could scatter the attention in other projects involved at the Global Sprint.
We can think to reschedule it after the Global Sprint. In this way we can try to collect the max attention for the L10n Guide Article and for the OpenStudentBook :)

[2017-05-31 14:31] edovio commented on #49
Today First Call

[2017-05-31 14:34] Mte90 opened #53 "Social Team for Mozilla Italia"
* [ ] Create a roadmap

With the roadmap we can plan the next steps but the focus for this task are the months of June-July

[2017-05-31 14:34] Mte90 commented on #50
Ok! Lower priority good to know :-)

[2017-05-31 15:48] edovio commented on #49
Interesting Link: https://wiki.mozilla.org/Strategy/True_North_Project

[2017-06-01 15:05] Mte90 commented on #21
I have to prepare a plan for the next 3 weeks before the all hands for the AMO team about community needs.

[2017-06-05 15:22] edovio commented on #7
Eseguito Laboratorio Sabato 03 Giugno:
* [x] Report
* [x] Post su Twitter
* [x] Post su Instagram
* [x] Post su Facebook

[2017-06-05 15:23] edovio commented on #7
* [x] Inviare un Email per avvisare la sospensione del Laboratorio

[2017-06-05 15:23] edovio commented on #6
* [ ] Inviare un Email per avvisare la sospensione del Laboratorio

[2017-06-05 15:24] edovio commented on #47
Partecipato al Mozilla Global Sprint con il progetto OpenStudentBook

[2017-06-05 15:24] #47 closed, assigned to edovio

[2017-06-05 16:05] edovio commented on #13
Today done a Call with the Space Wrangler team for the Web Literacy Space

[2017-06-06 13:34] edovio opened #54 "Firefox Nightly Campaign"
Create a National Campaign for promote the usage of Firefox Nightly
* [x] Define a period: 2 weeks before Linux day 10-28/10/2017
* [ ] Create a Draft Doc
* [ ] Define a Team
* [ ] Define Graphics
* [ ] Write a Proposal
* [ ] Write the Campaign in the Mozilla Wiki

Creare una Campagna nazionale per promuovere l'utilizzo di Firefox Nightly
* [x] Definire a period: 2 settimane prima del Linux day 10

[2017-06-06 14:09] edovio opened #55 "CentralCommunicationChannel for Mozilla Campus Clubs"
Create a new Central Communication Channel for Mozilla Campus Club
Related issue: https://github.com/mozilla/Campus-Program/issues/434

[2017-06-06 14:12] edovio opened #56 "Indentify website changes for Mozilla Campus Club"
Identifty website changes for Mozilla Campus Club.
Related issue: https://github.com/mozilla/Campus-Program/issues/432

[2017-06-06 14:13] edovio opened #57 "Improve the onboarding process for Mozilla Campus Club"
Review the on-boarding process for the Mozilla Campus Club

Related Issue: https://github.com/mozilla/Campus-Program/issues/419

[2017-06-06 14:15] edovio commented on #8
* [x] Send an Email at all the attendees to give the notice that the Laboratories are suspended for June
* [x] Inviare una Email a tutti i partecipanti per avvisarli che i laboratori saranno sospesi per il mese di Giugno

[2017-06-06 14:18] edovio opened #58 "write a Blog post for the Mozilla Global Sprint 2017"
Scrivere un blog post sul Mozilla Global Sprint 2017
* [x] blog post in Italiano
* [x] blog post in Inglese

Write a blog post for the Mozilla Global Sprint 2017
* [x] Italian version
* [x] English version

[2017-06-06 14:21] edovio commented on #58
Link blog post Italiano su Wordpress:
 https://edoardoviola.wordpress.com/2017/06/06/due-giorni-al-global-sprint-2017/
Link blog post in English on Wordpress:
https://edoardoviola.wordpress.com/2017/06/06/two-days-at-global-sprint-2017/

Link blog post su Medium in Italiano:
https://medium.com/@edovio/due-giorni-al-global-sprint-2017-51d07144c5c6
Link blog post on Medium in English:
https://medium

[2017-06-06 14:21] #58 closed, assigned to edovio

[2017-06-06 14:40] edovio commented on #14
Sent a message in the Telegram group of the UK community about the Discourse Topic https://discourse.mozilla-community.org/t/next-steps-for-regional-community-coaches/16094?source_topic_id=16114 regarding the next step with the Community coaches program

[2017-06-06 14:41] edovio commented on #16
Sent a message on the French community Telegram group about the changes and sent a link at the discourse topic about the next steps: https://discourse.mozilla-community.org/t/next-steps-for-regional-community-coaches/16094?source_topic_id=16114

[2017-06-06 14:44] edovio commented on #15
Sent a message on a Italian Telegram group about the next step of the Reps Regional Coaches Program (community coaches) and put a link of the Discourse Topic : https://discourse.mozilla-community.org/t/next-steps-for-regional-community-coaches/16094?source_topic_id=16114

[2017-06-06 16:02] edovio commented on #18
done today: https://public.etherpad-mozilla.org/p/RCMayOfficeHour (Link Etherpad)

[2017-06-06 16:02] #18 closed, assigned to edovio

[2017-06-06 16:03] edovio commented on #18
https://public.etherpad-mozilla.org/p/RCMayOfficeHour ---> Link of the call

[2017-06-07 18:03] Mte90 commented on #41
https://www.eventbrite.it/e/biglietti-introduzione-a-webassembly-romajs-aperitech-35137502215

[2017-06-07 18:03] #41 closed, assigned to Mte90

[2017-06-12 10:44] Mte90 commented on #39
![sha](https://user-images.githubusercontent.com/403283/27030498-cca38b64-4f6c-11e7-8f63-306a15dbf133.png)
My talks/worskhop approved and I already got the sponsorship by mozilla.
the next week I will plan the rest.

[2017-06-14 16:37] edovio opened #59 "Create a SlideDeck Template for Mozilla Clubs"
Create a SlideDeck for Mozilla Clubs

[2017-06-14 16:38] edovio opened #60 "Create a Template Website for Mozilla Clubs"
Create a Website template for Mozilla Clubs

[2017-06-21 10:47] Mte90 commented on #39
TIcketsn, flights and talk confirmed!

[2017-06-21 10:47] #39 closed, assigned to Mte90

[2017-06-21 10:47] Mte90 commented on #26
Intitiative finished!

[2017-06-21 10:47] #26 closed, assigned to Mte90

[2017-06-21 10:47] Mte90 commented on #21
Initiative finished

[2017-06-21 10:47] #21 closed, assigned to Mte90

[2017-06-21 10:48] Mte90 commented on #29
Switched on https://github.com/merge-it/2018/projects/1

[2017-06-21 10:48] Mte90 commented on #20
I think that actually that events is changing without my presence

[2017-06-21 10:53] Mte90 commented on #54
After a chat with @pascalchevrel we will continue with our plan but:

- Create graphical poster to promote nightly to sent to lug and other type of clubs in the country
- Create 2 kind of slides: one about Firefox nightly with features (like containers) and one about QA to use for our specific events
- Publish on about:home for italians messages about events on nightly

We need to work on gather n

[2017-06-21 10:53] Mte90 opened #61 "Weekly Reps Council Call"

[2017-06-21 10:54] Mte90 commented on #24
I think that we close and in case open a new one. This was before the global sprint :-)

[2017-06-21 10:54] #24 closed, assigned to Mte90

[2017-06-21 10:55] #28 closed, assigned to Mte90

[2017-06-22 18:07] Mte90 commented on #29
Sondaggio pronto da far girare: http://www.linuxday.it/questionario/index.php/survey/index/sid/486728/token/kc9cp9tqbzu56hu/lang/it

[2017-06-27 17:52] edovio opened #62 "Copyright Campaign on Cagliari"
* [x] Define a host
* [x] Plan promotion
* [x] define personal talk
* [x] Gadget Request
* [x] Event on Reps Portal

All the activities are done not only by the Italian Community but with the Advocacy Team

[2017-06-27 17:56] edovio opened #63 "Plan July Mozilla Italia Call"
* [ ] Define a Day
* [ ] Draw the Agenda
* [ ] Invite People

[2017-06-27 17:57] edovio opened #64 "Plan a Call with Italians Campus Club Captains"
* [x] Send Informative Email
* [ ] Define a Day
* [ ] Draw the Agenda
* [ ] Invite People

[2017-06-27 17:58] edovio commented on #20
The Event Was close because we don't have the availabity of the host. I will plan in the next days a WebVR meetup here in Cagliari

[2017-06-27 17:59] #20 closed, assigned to Mte90, edovio

[2017-06-27 18:00] edovio opened #65 "Meetup Rust Cagliari"
* [ ] Define a Host
* [ ] Take Activity for Activate portal
* [ ] Invite People
* [ ] Define a comunication Strategy

[2017-06-27 18:00] edovio opened #66 "Meetup WebDevelopment Cagliari"
* [ ] Define a Host
* [ ] Take Activity for Activate portal
* [ ] Invite People
* [ ] Define a comunication Strategy

[2017-06-27 18:00] edovio opened #67 "Meetup WebVR Cagliari"
* [ ] Define a Host
* [ ] Take Activity for Activate portal
* [ ] Invite People
* [ ] Define a comunication Strategy

[2017-06-27 18:03] edovio commented on #50
ping for @Mte90 (When return from AllHands!)

[2017-07-03 17:50] Mte90 commented on #50
There few comments in the etherpad and I think that is required a revision from others, we can ask in the forum.

[2017-07-03 17:51] Mte90 commented on #25
Talked with people in MDN to organize a meeting for it the next week.

[2017-07-06 13:57] edovio commented on #62
Host: Ex Manifattura Tabacchi - Cagliari
Promotion: We will evaluated by the Advocacy Team of Mozilla
Personal Talk: http://slide.edovio.com/mozilla
Gadget Request: Done in the Reps Portal
Event on Reps Portal: https://reps.mozilla.org/e/the-copy-fight-starts-from-cagliari/

[2017-07-06 13:58] #60 closed, assigned to edovio

[2017-07-06 14:00] edovio opened #68 "Open Source Event on Professionals Associations on Cagliari"
* [ ] Host
* [ ] Speakers
* [ ] Gadget Request
* [ ] Reps Portal Event
* [ ] Mozilla Talk
* [ ] Firefox  Talk

[2017-07-06 14:03] edovio commented on #68
The firefox talk will be helpful to present all the version for PC and Mobile (Android) and Engadge the professionist to know what work and what not for they. Moreover will be helpful to watch how work the Firefox Sync

[2017-07-06 14:15] edovio commented on #7
Eseguito Laboratorio Sabato 01 Luglio:
* [x] Report
* [x] Post su Twitter
* [x] Post su Instagram
* [x] Post su Facebook

[2017-07-06 14:19] edovio commented on #67
I evaluted to make a first WebVR summer camp on 08 July 2017 at Cagliari to see the interest in this technology here in Cagliari
* Reps Event: https://reps.mozilla.org/e/webvr-introductory-summer-camp/

* the event workflow is inside the Reps Portal and is based from the Activate activity

[2017-07-06 14:21] edovio commented on #16
Sent a Ping message in the French Community Telegram group about the new role

[2017-07-06 14:23] edovio commented on #14
Sent a message today in the Mozilla Uk Telegram Group about know what happening in the Uk Tech Communities

[2017-07-06 15:07] edovio commented on #15
Create a Topic in the Mozilla Italia Forum about the Program
Link: https://forum.mozillaitalia.org/index.php?topic=68991.0

[2017-07-06 22:04] edovio opened #69 "Blog Post for the Web Literacy Space of MozFest in Italian"
Make a Blog Post about the Web Garden in Italian
* [x] Medium Blog post
* [x] WordPress Blog post

[2017-07-06 22:05] edovio commented on #69
Medium Blog Post Link: https://medium.com/@edovio/il-giardino-dellalfabetizzazione-del-web-al-mozilla-festival-89c05a8f8b03

Wordpress Blog post Link: https://edoardoviola.wordpress.com/2017/07/06/il-giardino-dellalfabetizzazione-del-web-al-mozilla-festival/

[2017-07-06 22:05] #69 closed, assigned to edovio

[2017-07-06 22:06] edovio commented on #64
Sent Email Today at all the five Club Captains.

[2017-07-06 22:08] edovio commented on #62
Changed the Host: From Ex Manifattura Tabacchi - Cagliari to another in Cagliari
* [ ] Change the Event Host in the Reps Event

[2017-07-10 18:53] Mte90 commented on #25
https://public.etherpad-mozilla.org/p/promote-mdn-2017-goals

I have a meeting with mdn people this friday

[2017-07-14 13:50] Mte90 commented on #25
Meeting done, new issues created and the milestone!

[2017-07-14 13:52] Mte90 opened #70 "Update ChangeCopyright Italian slides"
Link: https://docs.google.com/presentation/d/1SYDABVZQYsfdrIU4Avl9eHjFG3XbsprNn2FgdQP93ow/edit

That slides was made for the october campaign but they need an update for the new one also about new laws and whatever.

[2017-07-18 13:00] Mte90 opened #71 "Meeting about Slack feedback"
Reschedule from last week that I forgot the appointment -.-'

[2017-07-18 13:01] Mte90 commented on #35
Closed for temporary close of the club

[2017-07-18 13:01] #35 closed, assigned to Mte90

[2017-07-18 13:02] Mte90 commented on #37
Actually is late for organize something and the new dev team is very difficult to reach for organize something.

[2017-07-18 13:02] #37 closed, assigned to Mte90

[2017-07-21 14:02] Mte90 commented on #71
moved again but sent an email with all the feedbacks

[2017-08-01 19:15] #71 closed, assigned to Mte90

[2017-08-27 20:22] Mte90 commented on #44
I stopped to publish the post of quantum and Photon because they was not so much itneresting for non-mozillian and publishing only the nightly weekly

[2017-08-27 20:23] Mte90 commented on #50
We have to work on that, the summer helped us to forget this activity XD

[2017-09-14 08:25] Mte90 commented on #36
Fatto nella mia guida sul recruiting

[2017-09-14 08:25] #36 closed, assigned to Mte90

[2017-09-14 08:28] Mte90 commented on #32
Il progetto è fermo quindi direi di chiudere e riaprire quando e se sarà ritenuto necessario

[2017-09-14 08:28] #32 closed, assigned to Mte90

[2017-09-14 08:28] Mte90 commented on #70
Progetto chiuso perché la comunicazione ora è affidata ad altri sistemi.

[2017-09-14 08:28] #70 closed, assigned to Mte90

[2017-09-14 08:29] Mte90 commented on #12
Any updates on this one?

[2017-09-27 20:13] Mte90 commented on #29
Actuyally there are no updates

[2017-09-27 20:13] #29 closed, assigned to Mte90

[2017-10-07 09:39] Mte90 commented on #12
Seems that in the folder of this account on gdrive I don't have anymore the read/write permissions

[2017-10-07 09:40] #44 closed, assigned to Mte90

[2017-10-10 09:06] Mte90 commented on #61
I think that I can closed because is not necessary that his here because I join every week

[2017-10-10 09:06] #61 closed, assigned to Mte90

[2017-10-30 21:30] #45 closed, assigned to Mte90

[2017-11-06 19:48] Mte90 commented on #53
Actually we have a group on telegram that review the text with a spreadsheet so in the meantime we can close that waiting for a real docs about this point

[2017-11-06 19:48] #53 closed, assigned to Mte90

[2017-11-08 21:01] Mte90 commented on #33
Abbiamo il ticket nel progetto stesso quindi direi che si può chiudere

[2017-11-08 21:01] #33 closed, assigned to Mte90

[2017-11-08 21:02] Mte90 commented on #38
I am keeping ping him without any success...

[2017-11-10 15:21] #54 closed, assigned to nobody

[2017-11-23 09:42] Mte90 commented on #50
Review from community done, we need to confirm for publish

[2017-11-29 18:48] Mte90 commented on #25
Published finally!

[2017-11-29 18:48] #25 closed, assigned to Mte90

[2017-12-18 23:27] #46 closed, assigned to Mte90, EugenioPetulla

[2018-04-18 17:32] Mte90 commented on #50
Spostato coem task su un altro repo dedicato :-)

[2018-04-18 17:32] #50 closed, assigned to Mte90

[2018-05-06 15:49] Mte90 commented on #38
No updates from this side, the idea can be to ask to close the page because mozilla chosen to stop use Facebook.
In case mozilla will reopen for that we will don't have the problem anymore.

[2018-05-20 19:44] #12 closed, assigned to Mte90, edovio

[2018-05-20 19:44] #31 closed, assigned to Mte90, EugenioPetulla

[2018-05-20 19:44] #38 closed, assigned to Mte90

[2020-05-25 13:49] #1 closed

[2020-05-25 13:49] #2 closed

[2020-05-25 13:49] #3 closed

[2020-05-25 13:49] #4 closed

[2020-05-25 13:49] #5 closed

[2020-05-25 13:49] #6 closed, assigned to edovio

[2020-05-25 13:49] #7 closed, assigned to edovio

[2020-05-25 13:49] #8 closed, assigned to edovio

[2020-05-25 13:49] #13 closed, assigned to edovio

[2020-05-25 13:49] #14 closed, assigned to edovio

[2020-05-25 13:49] #15 closed, assigned to edovio

[2020-05-25 13:49] #16 closed, assigned to edovio

[2020-05-25 13:49] #48 closed, assigned to edovio

[2020-05-25 13:49] #49 closed, assigned to edovio

[2020-05-25 13:49] #55 closed, assigned to edovio

[2020-05-25 13:49] #56 closed, assigned to edovio

[2020-05-25 13:49] #57 closed, assigned to edovio

[2020-05-25 13:49] #59 closed, assigned to edovio

[2020-05-25 13:49] #62 closed, assigned to edovio

[2020-05-25 13:49] #63 closed, assigned to nobody

[2020-05-25 13:49] #64 closed, assigned to edovio

[2020-05-25 13:49] #65 closed, assigned to edovio

[2020-05-25 13:49] #66 closed, assigned to edovio

[2020-05-25 13:49] #67 closed, assigned to edovio

[2020-05-25 13:49] #68 closed, assigned to edovio

[2020-05-26 17:30] edovio opened #72 "Nuovo sito Internet Mozilla Italia"

[2020-05-26 17:37] edovio opened #73 "Community Meeting Mensile"
Attività della Community Call Mensile

[2020-05-26 17:38] edovio opened #74 "Reps Call Mensile"
Organizzazione della Call Mensile dei Reps Italiani

[2020-05-26 17:40] edovio commented on #74
Agenda Meeting: https://docs.google.com/document/d/1w4vY-TWAmIwp-pjPEBEKP7FUVYFN9SOg5jXjrJeO7Ug/edit

[2020-05-26 17:51] edovio opened #75 "Prossimi Speakers and Debate su IHR"

[2020-05-26 17:51] edovio opened #76 "Prossimi Talk Tematici"
Tematiche tecniche proposte:

* Meeting su about:config
* Meeting riguardo lo sviluppo di un componente aggiuntivo Firefox (WebExtension): magari una dimostrazione in tempo reale di un componente aggiuntivo base
* Meeting su Firefox Dev Tool
* Meeting webassembly

[2020-05-26 17:53] edovio opened #77 "Promozione della Localizzazione"
Idee per la promozione della localizzazione

[2020-05-26 17:55] Mte90 commented on #77
Un riferimento di esempio https://www.youtube.com/user/wikimediaitalia/videos

[2020-05-26 17:55] edovio commented on #77
Idee:

Creare una gara tipo Hackaton con dei premi e delle frasi da localizzare per presentare l'attività e aiutare le persone a conoscere la localizzazione

[2020-05-26 17:56] edovio opened #78 "Sprint su Common Voice"
- Mini-talk introduttivo su Common Voice e DeepSpeech
- sprint di Common Voice con countdown
- Q/A e condivisioni
- sprint su Common Voice con countdown
- condivisioni e saluti

[2020-05-26 18:11] astrastefania commented on #77
Idea di possibile talk/serata:

- intro iniziale sull on-boarding
- screen sharing mentre una persona traduce una stringa
- una seconda parte screen sharing del processo di validazione
- Q/A e condivisioni

[2020-05-26 18:14] Sav22999 opened #79 "Nuova grafica comunitaria"
Nuova grafica approvato dopo lunga discussione sul forum https://forum.mozillaitalia.org/index.php?topic=73980.0, sui gruppi Telegram e nei vari meeting mensili comunitari (registrazioni sul canale YouTube).

Per scaricare le varie grafiche (per ora) è possibile farlo da Google Drive: https://drive.google.com/drive/folders/1AUPIGeDjvJPwUsdiYPTOOFw757HBdsFQ

[2020-05-26 18:21] #79 closed, assigned to Sav22999

[2020-05-27 09:35] Mte90 opened #80 "Migrazione a support.mozilla.org"
Stiamo valutando lo strumento per una eventuale migrazione come da discussione sul forum https://forum.mozillaitalia.org/index.php?topic=74091.0

- [x] Richiesta ufficiale con bug ticket
- [x] Trovare nuovi moderatori
- [x] Raccogliere domande sulla piattaforma
- [ ] Migrazione

https://blog.mozilla.org/sumo/2020/07/01/lets-meet-online-virtual-all-hands-2020/

[2020-05-27 09:48] Mte90 opened #81 "Promuovere Discourse all'interno della comunità"
Abbiamo spostato gli annunci su https://discourse.mozilla.org/c/community-portal/mozilla-italia che poi rilanciamo sul forum.

Il problema è che non è facile accedere alla categoria (vedere https://github.com/mozilla/discourse/issues/275) oltre che presentare i vantaggi di Discourse.

Vantaggi:

* Possibilità di iscriversi ad un thread e ricevere notifiche via email stile newsletter
* Possibilità

[2020-05-27 09:51] Mte90 opened #82 "DeepSpeech-Italian-Model"
Si tratta di un lavoro in sviluppo, ci aggiorniamo sul gruppo developers.

Roadmap: https://docs.google.com/document/d/1cep28JAv9f90LkIpVmJjR0lTDqW5Hp_YF7R-nVJ2zkY/edit
Repo: https://github.com/MozillaItalia/DeepSpeech-Italian-Model

[2020-05-27 22:01] edovio commented on #75
*Primo Dibattito*

- ***Possibile argomento di attualità da proporre:***
- [ ] Privacy and Security: App di Tracking per COVID

- ***Possibili altre community Italiane da coinvolgere:***
- [ ] LibreItalia
- [ ] Wikimedia Italia

- ***Settimane possibili dove organizzare il dibattito:***

- [ ] 2° Settimana di Giugno
- [ ] 3° Settimana di Giugno
- [ ] 4° Settimana di Giugno
- [ ] 1° Settimana di Lu

[2020-05-27 22:04] edovio commented on #75
Ragazzi abbiamo qualche altre idea di community da coinvolgere?

[2020-05-28 09:59] Mte90 commented on #75
Forse https://www.hermescenter.org/ anche se non è una comunità OSS nel senso pieno.
Si può coinvolgere https://www.statigeneralinnovazione.it/online/appuntamento-per-il-19-febbraio-2020-2si-per-regioni-e-comuni/ alcuni di questo progetto tipo la Marzano, io ed Enio eravamo quelli che seguivano il tavolo su opensource.

[2020-06-05 20:25] Mte90 opened #83 "Creazione account instagram"
Argomenti discusso più volte nelle riunioni ma richiede una organizzazione in termini di risorse per la gestione dei vari social.
Oltre anche alla creazione di materiale utilizzabile sulle varie piattaforme che utilizziamo.

Prima di crearlo dobbiamo capire per quale tipologia di comunicazione e messaggi verrebbe usato.

Materiale che si potrebbe condividere:

* Reportage Eventi dal vivo
* Avvisi

[2020-06-10 14:03] Mte90 opened #84 "Presenza LinuxDay Online 2020"
Dobbiamo definire gli argomenti per cui partecipare alla CFP nazionale https://www.linuxday.it/2020/partecipa/

Abbiamo per il momento:

* @dag7dev per (solo) Common Voice (le solite slide) - **APPLICATO**
* <s>@mone27 per Mozilla IoT e scrivere una webthing in rust</s>
* @Sav22999 riguardo Mozilla L10n - **APPLICATO**
* @xplosionmind riguardo MDN - **APPLICATO**
* @gabrycaos riguardo Accessibilit

[2020-06-10 14:13] mone27 commented on #84
Io pensavo: Mozilla IoT e scrivere una webthing in rust

[2020-06-11 05:53] xplosionmind commented on #84
Ciao, io parlerei volentieri di MDN. Ho tradotto già alcuni articoli e lo visito tutti i giorni... Se credete abbia sufficiente esperienza, me ne occuperei con piacere.

Tuttavia, l’unico problema è che io con forte probabilità non riuscirò ad esserci quel weekend. A quanto ho letto, però, si può fare una registrazione o connettersi online, dunque ce la farei tranquillamente.

[2020-06-11 05:55] xplosionmind commented on #78
È già stato fatto o è in programma?

[2020-06-11 08:06] Mte90 commented on #84
Ti segno, quando applichi vedi di spiegarlo nel campo apposito così ne tengono conto.

[2020-06-11 08:16] Mte90 commented on #78
No è una idea ma forse già sarà per il prossimo che facciamo domenica (ne abbiamo parlato alla riunione del mese attuale)

[2020-06-11 09:37] xplosionmind commented on #78
Me l’ero perso. Ottimo, grazie!

[2020-06-11 10:45] xplosionmind commented on #84
Grazie. Quindi scelgo tutto io, sia titolo che descrizione?

Ovviamente dovrò inserire che partecipo come membro di Mozilla Italia

[2020-06-11 10:46] Mte90 commented on #84
Si esatto, poi per le slide ti diamo una mano e le vediamo insieme via telegram. Anche per strutturare il talk.

[2020-06-11 10:47] xplosionmind commented on #84
Perfetto. Grazie!

[2020-06-11 15:51] edovio opened #85 "Calendario Eventi 2020"

[2020-06-11 16:15] edovio commented on #74
Call per il mese di Giugno: 11/06/2020

[2020-06-11 17:16] edovio opened #86 "Linee guida per la gestione delle dirette degli eventi dal vivo"

[2020-06-11 17:21] edovio commented on #85
Calendario:

* [ ] **WK 25**:
**Common voice Monthly Sprint** - Lunedì 15 Giugno alle ore 18.30
**RustOnline: Gruppo di Studio RUST** - 18 Giugno ore 16.30 - Rust Italia (Torino)
Referente: @astrastefania

* [ ] **WK 26**:
 **ANNULLATO**

* [ ] **WK 27**:
**Call Mensile Mozilla Italia** - Venerdì 03 Luglio ore 18.30
 Referente @Sav22999

* [ ] **WK 28**:
**IHR:  Dibattito Pubblico IHR** - Mercoled

[2020-06-11 17:25] Sav22999 opened #87 "Promuovere Community Portal all'interno della comunità"

[2020-06-11 17:38] astrastefania commented on #83
Adesso che abbiamo diversi eventi in calendario sarebbeo il momento migliore per creare un account, almeno un post alla settimana ce l'abbiamo fino a fine luglio!
https://github.com/MozillaItalia/CommunityIssueTracker/issues/85

[2020-06-11 22:40] Sav22999 opened #88 "Creazione di un gruppo di Social Media Marketing"
Cercare anche dei membri che siano attivi sui social e sappiano fare dei post accattivanti (ovviamente il processo di revisione c'è sempre).

Propongo Damiano a questo proposito

[2020-06-15 08:24] astrastefania opened #89 "Rust Beginners"
Creare serate per chi inizia in Rust

[2020-06-15 08:25] astrastefania commented on #89
Metto qui il link al repo creato da @dodomorandi

https://github.com/rust-torino/rust-and-beginners

[2020-06-15 18:02] Sav22999 opened #90 "Creare in anticipo tutti gli eventi di Mozilla Italia"
Così che la gente possa organizzarsi con dovuto anticipo. Gli eventi, ovviamente, inserirli tutti in un unico posto: Community Portal > Mozilla Italia > Eventi

[2020-06-23 20:47] xplosionmind commented on #88
Appena finita la sessione (ufff) io volentieri posso dare una mano!

[2020-06-23 20:49] xplosionmind commented on #84
Ho creato [questo etherpad](https://etherpad.wikimedia.org/p/Mozilla_Talk_for_MDN_at_Linux_Day_2020) per strutturare il talk

[2020-07-01 07:09] edovio commented on #74
Call per il mese di Luglio: 18/07/2020

[2020-07-01 07:11] edovio commented on #75
Primo Evento previsto per 8 Luglio 2020 ore 18.30.

[2020-07-01 08:12] edovio commented on #90
Questo è utile e corretto ma finchè il sistema di revisione risulta abbastanza lungo (ricordiamoci che siamo volontari e non lavoriamo per Mozilla Italia)  i tempi di produzione e di pubblicazione devono essere abbastanza prolungati.
Personalmente ritengo che in questa ottica bisogna definire in largo anticipo (2 o 3 mesi prima gli eventi), così da poter produrre in un mese il materiale grafico e

[2020-07-07 11:09] dag7dev commented on #84
Abstract scritto, titolo scritto, application fatta!

[2020-07-07 11:10] dag7dev commented on #89
A tal proposito propongo di coinvolgere Enrico!

[2020-07-07 14:15] edovio opened #91 "Creazione di un gruppo di Marketing su Telegram"
Creazione di un gruppo tematico per la creazione degli annunci da pubblicare sui canali ufficiali di Mozilla Italia

[2020-07-07 14:18] edovio commented on #91
Creato un Pilot con il gruppo su Telegram: https://t.me/joinchat/BIWyukj6YtDL6JxnVxZ3ZQ

Utilizzeremo per due mesi il gruppo per verificare se è più efficace parlare di queste tematiche su un gruppo diverso rispetto a quello generico HOME su Telegram

[2020-07-08 15:30] Mte90 commented on #80
Abbiamo degli aggiornamenti https://forum.mozillaitalia.org/index.php?topic=74091.msg516268#msg516268

[2020-07-09 18:17] EugenioPetulla commented on #84
Ok, vedo di rimediare un titolo e un abstract decente e applico entro la prossima settimana per i devtools.

[2020-07-13 16:50] Mte90 commented on #88
# Resoconto 13/07/2020

Lo scopo del team è quello di dare una mano alla comunità nella creazione di contenuti testuali per i nostri social attuali FB/TW. Un domani che il gruppo si struttura meglio possiamo valutare anche altri che richiedono anche più attenzione come Instagram che richiede anche un lavoro grafico.
Ad oggi il flusso richiede una revisione quindi sfruttando un documento come https

[2020-07-18 13:48] edovio commented on #90
Discusso e approvato nella Call dei Reps del 18 Luglio. Verrà fatta una programmazione su base trimestrale delle attività, pianificando nel community Portal un mensilmente gli eventi.

Voti a Favore: 5 , Voti contrari: 0

[2020-07-18 13:50] #90 closed, assigned to Mte90, astrastefania, edovio, Sav22999

[2020-07-18 14:01] edovio commented on #85
* [x] **WK 31** (Dal 27 Luglio al 2 Agosto) :
**VACANZA**

* [x] **WK 32** (Dal 3 Agosto al 9 Agosto):
**CALL MENSILE NAZIONALE**
 Referente: @Sav22999

* [x] **WK 33** (Dal 10 Agosto al 16 Agosto):
**VACANZA**

* [x] **WK 34** (Dal 17 Agosto al 23 Agosto):
**VACANZA**

* [x] **WK 35** (Dal 24 Agosto al 30 Agosto):
**VACANZA**

* [x] **WK 36** (Dal 31 Agosto al 06 Settembre):
**CALL MENSILE NAZION

[2020-07-18 14:06] edovio commented on #84
Ho applicato con un Talk sull'Internet Health Report

[2020-07-18 14:41] edovio commented on #74
Call per il mese di Agosto: **Vacanza**
Per urgenze ci sentiamo su Telegram

[2020-07-21 10:29] EugenioPetulla commented on #84
@Mte90 ho applicato anche io con i dev tools

[2020-08-27 09:50] Mte90 opened #92 "Dev Contest Modello DeepSpeech"
Un contest di programmazione utilizzando il nostro modello (https://github.com/MozillaItalia/DeepSpeech-Italian-Model) con premi e progetti rilasciati open source.

Proposta piú in basso

[2020-09-23 09:13] Mte90 commented on #88
# Flusso

- qualcuno pubblica il link sul gruppo telegram
- persona dice "ci penso io!"
- tizio scrive i testi per i social con hashtag sotto i 240 caratteri con link o foto
- @Mte90 manda per la revisione
- revisione ok, si pubblica sui vari social

[2020-09-23 10:10] xplosionmind commented on #88
Diamoci questa possibilità. Direi che possiamo farcela!

[2020-09-23 11:06] Mte90 commented on #92
# Proposta

* Palio
  * 1° premio: maglietta (massimo di 3 a seconda del team), adesivi
  * 2° premio: una maglietta, adesivi
  * 3° premio: collapsbile cup brandizzata mozilla, adesivi
  * progetti scelti (se ci saranno): adesivi
* Periodo: 1 ottobre/15 novembre (così abbiamo hacktoberfest di mezzo)
* Partner
  * Il subreddit https://www.reddit.com/r/italyinformatica sarà partner del contest forn

[2020-10-02 12:42] Mte90 commented on #92
repository creato https://github.com/MozillaItalia/DeepSpeech-Contest

[2020-10-06 07:48] Mte90 commented on #92
Lanciato il contest https://www.reddit.com/r/ItalyInformatica/comments/j6112h/mozilla_italia_developer_contest_in/

[2020-10-10 11:50] Mte90 commented on #76
Abbiamo deciso di fermare le presentazioni e non sappiamo quando riprenderemo quindi direi per il momento di togliermi come referente.

[2020-10-24 13:46] #84 closed, assigned to Mte90

[2020-10-24 14:15] dag7dev opened #93 "Bot comunitari"
Non so perchè mancano i bot comunitari qui:
https://github.com/MozillaItalia/mozitahub_bot
https://github.com/MozillaItalia/mozitaantispam_bot

Li inserisco qui solo per "ridondanza".

Gente che ha contribuito:
https://github.com/MozillaItalia/mozitaantispam_bot/graphs/contributors
https://github.com/MozillaItalia/mozitahub_bot/graphs/contributors

[2020-10-24 14:15] dag7dev commented on #78
Aggiornamento: previsto sprint 3 Novembre di @astrastefania

[2020-10-25 15:50] Mte90 commented on #74
Dobbiamo organizzare l'incontro di novembre dove faremo:

* Analisi Linux Day
* Pianificazione per il futuro con verifica disponibilità

[2020-11-09 14:21] dag7dev commented on #78
Sprint CV fatto il 3/11 tenuto da @astrastefania me e @Sav22999
Inviati adesivi a coloro che li hanno richiesti

[2020-11-11 10:08] dag7dev commented on #85
WK 45 (Dal 02 Novembre al 8 Novembre):
CALL MENSILE NAZIONALE

Ho svolto io la call!

[2020-11-11 10:10] dag7dev commented on #74
Call mensile di novembre: fatta!

[2020-12-04 12:50] Mte90 commented on #74
Abbiamo migrato i resoconti su discourse https://discourse.mozilla.org/t/resoconto-call-reps/71645

[2020-12-14 15:49] Mte90 commented on #92
Gadget spediti domani, si può chiudere.

[2020-12-14 15:49] #92 closed, assigned to Mte90

[2021-02-22 13:30] #91 closed, assigned to Mte90, astrastefania, edovio, Sav22999

[2021-03-23 14:57] Mte90 commented on #80
In un anno gli aggiornamenti sono che Mozilla ci sta lavorando e ci ha chiesto dei mod, al momento abbiamo dato due nominativi ma non sono tutti.

[2021-05-10 19:51] dag7dev commented on #72
Lanciato qualche giorno fa! :D

[2021-05-10 19:51] #72 closed, assigned to Sav22999

[2021-05-11 12:57] dag7dev opened #94 "Test"

[2021-05-11 12:58] dag7dev opened #95 "Portale di Gamification per i volontari"
Portale di Gamification per i volontari #95 by edovio

[2021-05-11 13:01] dag7dev opened #96 "Aggiornare il vademecum"

[2021-05-11 13:02] dag7dev opened #97 "VOID"
null

[2021-05-11 13:05] dag7dev opened #98 "Presenza Merge-it 2021"

[2021-05-11 13:05] dag7dev opened #99 "Contest "definitivo" CVProject 2021"
https://community.mozilla.org/en/events/contest-cv-project/

[2021-05-11 13:06] dag7dev opened #100 "Contest Sperimentale CVProject 2021"
Come https://community.mozilla.org/en/events/contest-cv-project/ ma interno alla community di Mozilla Italia.

[2021-05-11 13:07] #97 closed, assigned to nobody

[2021-05-11 13:08] #100 closed, assigned to nobody

[2021-05-11 13:08] #99 closed, assigned to nobody

[2021-05-11 13:08] #98 closed, assigned to nobody

[2021-05-11 13:09] dag7dev opened #101 "Creare un Issue tracker per le attività comunitarie proposte da tutti i membri della community"
by edovio

[2021-05-11 13:09] #101 closed, assigned to nobody

[2021-05-11 13:13] #88 closed, assigned to nobody

[2021-05-11 13:16] dag7dev opened #102 "Rendere gruppo localizzazione su Telegram (L10n) pubblico"
Non c'è più problema dello spam poiché esiste il "MozIta Antispam Bot".
By Sav

Fatta nel 2020.

[2021-05-11 13:16] #102 closed, assigned to nobody

[2021-05-11 13:21] #94 closed, assigned to nobody

[2021-05-11 13:23] #93 closed, assigned to nobody

[2021-05-11 13:28] dag7dev commented on #84
Tutti: video.linux.it
Common Voice: https://www.youtube.com/watch?v=mdunfPliNgQ
Localizzazione: https://www.youtube.com/watch?v=WN8uJCdhPqg

[2021-05-11 13:49] #85 closed, assigned to ltedone, astrastefania, edovio, Sav22999

[2021-05-11 13:53] #74 closed, assigned to Mte90, ltedone, astrastefania, edovio, Sav22999, dag7dev

[2021-05-11 13:53] #73 closed, assigned to Mte90, astrastefania, edovio, Sav22999

[2021-05-11 13:53] #78 closed, assigned to astrastefania

[2021-05-11 13:54] #81 closed, assigned to nobody

[2021-05-11 13:55] #87 closed, assigned to nobody

[2021-05-11 13:55] #77 closed, assigned to nobody

[2021-05-11 13:58] #75 closed, assigned to edovio

[2021-05-11 14:09] dag7dev opened #103 "Riorganizzare il Kanban nell'organizzazione "mozilla italia" anzichè nell'issue tracker : pulizia"
Rimangono non categorizzate le vecchie issue nell'issuetracker, mantenute solo per motivi storici.

[2021-05-11 14:09] #103 closed, assigned to nobody

[2021-05-11 15:04] dag7dev opened #104 "Vademecum: CI/CD? Adottare nuovo standard?"
Siamo nel 2021, e il vademecum é sempre una gran bella trovata promozionale.
Tuttavia, è un po' obsoleto il metodo di aggiornamento.
Non che Github non vada bene, ma diventa problematico non solo aggiornare il contenuto, ma anche avere una versione "già bella e pronta" del vademecum perché poi ogni volta deve essere scaricato "compilato" e "ricomittato" a mano.

Le scelte sono due:
- **settare una

[2021-05-11 15:08] Mte90 commented on #104
La CI/CD può committare sul repo quindi basta decidere se mgirare ad altre soluzioni o fare la CI/CD che aggiorna il repo https://github.com/MozillaItalia/firefox-vademecum

Oppure fare delle release di github. Ci sono varie opzioni dobbiamo deciderci.

[2021-05-11 15:15] dag7dev commented on #104
esatto, le release di github sono molto comode, e se non sbaglio sono settabili direttamente da GH Actions

possiamo volendo fare tre branches per le varie versioni e poi settare un unico workflow che produca quelle versioni, sempre se decidiamo di avere tre versioni e di non accorpare tutto

[2021-05-13 14:35] #96 closed, assigned to nobody

[2021-05-13 14:37] #104 closed, assigned to nobody

[2021-05-18 09:47] Mte90 commented on #80
Sumo in italiano è stato attivato e va provato.

[2021-05-24 10:53] Mte90 commented on #80
Ho aperto un nuovo thread https://forum.mozillaitalia.org/index.php?topic=76019.0 sui prossimi passi

[2021-08-31 15:52] dag7dev opened #105 "Riorganizzazione gruppi Telegram - DEM e Dev2.0"
# Riorganizzazione gruppi Telegram - DEM e Dev2.0

## Situazione attuale
Abbiamo i seguenti gruppi:
- Home
- Dev
- Design
- Marketing
- L10N

### Problemi
- Il gruppo Dev per un bug di Telegram è assaltato da utenti spam che ci fanno perdere tempo.
  Il problema è irrisolvibile e la situazione é diventata davvero fastidiosa.
- I gruppi Marketing e Design sono quasi sempre silenziosi: essendoci poc

[2021-09-16 09:02] Mte90 commented on #80
Aggiornamenti che stiamo vedendo se si può migrare su discourse lap arte di revisione di SUMO e anche chiudere la registrazione sul forum.

[2021-09-24 17:08] Mte90 commented on #105
finito :-)

[2021-09-24 17:08] #105 closed, assigned to Mte90, dag7dev